services:
    nginx:
        image: nginx:1.25
        container_name: nginx-books
        volumes:
            - "./app:/var/www/html"
            - "./docker/nginx/config/default.conf:/etc/nginx/conf.d/default.conf"
        ports:
            - "80:80"
        depends_on:
            - php
        networks:
            - backend

    php:
        build:
            context: "."
            dockerfile: "./docker/php/Dockerfile"
        container_name: php-books
        volumes:
            - "./app:/var/www/html"
            - "./docker/php/php.ini:/usr/local/etc/php/php.ini"
        networks:
            - backend

    database:
        image: mysql:8.0
        container_name: database-books
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: books_catalog
        volumes:
            - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
            - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
            - mysql_data:/var/lib/mysql
        ports:
            - "3307:3306"
        restart: always
        networks:
            - backend

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:latest
        container_name: phpmyadmin-books
        environment:
            PMA_HOST: database
            PMA_USER: root
            PMA_PASSWORD: root
        ports:
            - "8080:80"
        restart: always
        depends_on:
            - database
        networks:
            - backend

networks:
    backend:
        driver: bridge

volumes:
    mysql_data:
